
alembic==1.8.1
Authlib==1.1.0
autopep8 

bcrypt 



email-validator==1.3.0

Flask 
Flask-Bcrypt 
Flask-Caching==2.0.1
Flask-CKEditor==0.4.6
Flask-Dance==6.1.1
Flask-DebugToolbar==0.13.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-OAuth==0.12
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==3.0.0
Flask-WTF==1.0.1

gunicorn==20.1.0

ImageHash 

itsdangerous==2.0.1

Jinja2 


oauth2==1.9.0.post1
oauthlib==2.1.0
packaging 

Pillow 


python-dateutil 




requests 
requests-oauthlib==1.1.0


SQLAlchemy==1.4.41



Werkzeug 


WTForms==3.0.1

