{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media acc-sec">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
    </div>
    </div>
    
        <form action="" method="POST" enctype="multipart/form-data">
            
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    <p>{{ form.fname.label(class="form-control-label") }}   
                    {{ form.fname(class="form-control") }}</p>
                    <p>{{ form.lname.label(class="form-control-label") }}
                    {{ form.lname(class="form-control") }}</p>
                    <p>{{ form.uname.label(class="form-control-label") }}
    
                        {% if form.uname.errors %}
                            {{ form.uname(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.uname.errors %}
                                <span> {{ error }} </span>
                                {% endfor %}
    
                            </div>
                        {% else %}
                        {{ form.uname(class="form-control") }}
    
                        {% endif %} </p>
                    <p>{{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
    
                        </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
    
                    {% endif %} </p>
                    
                    
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}<br>
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span class="text-danger"> {{ error }} </span><br>
                    {% endfor %}
                    {% endif %}
                </div><br>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    
</div>
{% endblock %}